<div class="container circus">
    <h2 class="texto_Two text-white">Ilustraciones</h2>
    <div class="row" >
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card3 miCard text-white">
                <img src="./images/ilustracion1.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">La vida en el "MAR"</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Esta ilustracion hace referencia a la mujer ya belleza de su cuerpo</p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Comprar Ahora</a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="card-text"><small class="text-muted">Creado por Claudia Herrera</small></p>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card3 miCard text-white">
                <img src="./images/ilustracion2.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Los Pajaros "ENAMORADOS"</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Esta ilustracion hace referencia a que cuando dos personas estan enamorados,
                        el amor fluye libre.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Comprar Ahora</a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="card-text"><small class="text-muted">Creado por Aaron Herrera</small></p>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card4 miCard text-white">
                <img src="./images/ilustracion5.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">La vida en la "SELVA"</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Esta ilustracion hace referencia de una mujer en la vida sevatica, mostrando su belleza.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Comprar Ahora</a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="card-text"><small class="text-muted">Creado por Valeria Gonzalez</small></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card3 miCard text-white">
                <img src="./images/ilustracion3.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">La raiz de los "PENSAMIENTOS"</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Esta ilustracion hace referencia a que nuestra persona suele tener 
                        buenas ideas desde raiz, y hacer que florezca.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Comprar Ahora</a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="card-text"><small class="text-muted">Creado por Carlos Quijada</small></p>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card3 miCard text-white">
                <img src="./images/ilustracion6.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">La "SOLEDAD"</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Esta ilustracion hace referencia que aveces nos encontramos solos, como en una 
                        pradera, pero hay que seguir adelante, para salir de ella.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Comprar Ahora</a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="card-text"><small class="text-muted">Creado por Alan Moreno</small></p>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <br>
</div>